# AWS Region
aws_region = "ap-northeast-1"

# AWS CLI profile
aws_profile = "default"

# Resource prefix
prefix = "tf-guardduty-s3-sqs-elasticagent"

# Instance type
instance_type = "t3.micro"

# AMI ID (Amazon Linux 2)
ami_id = "ami-0599b6e53ca798bb2"

# Path to SSH public key
ssh_public_key_path = "~/.ssh/id_rsa.pub"

# S3 bucket lifecycle
s3_logs_expiration_days = 90

# Tags
default_tags = {}